<table class="table table-striped">
            <tr>
                <th style="width: 10px">#</th>
                <th style="width: 30px">Job</th>
                <th style="width: 160px">Spider</th>
                <th style="width: 100px">Args</th>
                <th style="width: 20px">Priority</th>
                <th style="width: 40px">Runtime</th>
                <th style="width: 120px">Started</th>
                <th style="width: 10px">Log</th>
                <th style="width: 10px">Status</th>
            </tr>
</table>
<table class="table table-striped">
            {% for job in job_status %}
            {% if job.job_instance %}
            <tr>
                <td style="width: 10px">{{ job.job_execution_id }}</td>
                <td style="width: 30px"><a href="/project/1/job/periodic#{{ job.job_instance_id }}">{{ job.job_instance_id }}</a></td>
                <td>{{ job.job_instance.spider_name }}</td>
                <td style="width: 160px" class="txt-args" data-toggle="tooltip" data-placement="right"
                    title="{{ job.job_instance.spider_arguments }}">{{ job.job_instance.spider_arguments }}
                </td>
                {% if job.job_instance.priority == -1 %}
                <td style="width: 20px">
                    <span class="label label-default">LOW</span>
                </td>
                {% elif job.job_instance.priority == 0 %}
                <td style="width: 20px">
                    <span class="label label-info">NORMAL</span>
                </td style="width: 20px">
                {% elif job.job_instance.priority == 1 %}
                <td style="width: 20px">
                    <span class="label label-warning">HIGH</span>
                </td>
                {% elif job.job_instance.priority == 2 %}
                <td style="width: 20px">
                    <span class="label label-danger">HIGHEST</span>
                </td>
                {% endif %}
                <td style="width: 40px">{{ timedelta(job.end_time,job.start_time) }}</td>
                <td style="width: 120px">{{ job.start_time | datetimefilter }}</td>
                <td style="width: 10px"><a href="/project/{{ project.id }}/jobexecs/{{ job.job_execution_id }}/log" target="_blank"
                       data-toggle="tooltip" data-placement="top" title="{{ job.service_job_execution_id }}">Log</a>
                </td>
                {% if job.running_status == 2 %}
                <td style="width: 10px">
                    <span class="label label-success">FINISHED</span>
                </td>
                {% else %}
                <td style="width: 10px">
                    <span class="label label-danger">CANCELED</span>
                </td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </table>
