<table class="table table-striped">
            <tr>
                <th style="width: 10px">#</th>
                <th style="width: 30px">Job</th>
                <th style="width: 160px">Spider</th>
                <th style="width: 100px">Args</th>
                <th style="width: 20px">Priority</th>
                <th style="width: 40px">Runtime</th>
                <th style="width: 120px">Started</th>
                <th style="width: 40px">Log</th>
                <th style="width: 40px">Running On</th>
                <th style="width: 40px">Action</th>
            </tr>
            {% for job in job_status %}
            {% if job.job_instance %}
            <tr>
                <td>{{ job.job_execution_id }}</td>
                <td><a href="/project/1/job/periodic#{{ job.job_instance_id }}">{{ job.job_instance_id }}</a></td>
                <td>{{ job.job_instance.spider_name }}</td>
                <td class="txt-args" data-toggle="tooltip" data-placement="right"
                    title="{{ job.job_instance.spider_arguments }}">{{ job.job_instance.spider_arguments }}
                </td>
                {% if job.job_instance.priority == -1 %}
                <td>
                    <span class="label label-default">LOW</span>
                </td>
                {% elif job.job_instance.priority == 0 %}
                <td>
                    <span class="label label-info">NORMAL</span>
                </td>
                {% elif job.job_instance.priority == 1 %}
                <td>
                    <span class="label label-warning">HIGH</span>
                </td>
                {% elif job.job_instance.priority == 2 %}
                <td>
                    <span class="label label-danger">HIGHEST</span>
                </td>
                {% endif %}
                <td>{{ timedelta(now,job.start_time) }}</td>
                <td>{{ job.start_time | datetimefilter }}</td>
                <td><a href="/project/{{ project.id }}/jobexecs/{{ job.job_execution_id }}/log" target="_blank"
                       data-toggle="tooltip" data-placement="top" title="{{ job.service_job_execution_id }}">Log</a>
                </td>
                <td style="font-size: 10px;">{{ job.running_on }}</td>
                <td>
                    <a href="/project/{{ project.id }}/jobexecs/{{ job.job_execution_id }}/stop"><span
                            class="label label-danger">Stop</span></a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
